:root {
    --cor01: (#4D0100);
    --cor01: (#33100F);
    --cor01: (#000000);
    --cor01: (#4D1817);
    --cor01: (#990300);
    --cor01: (#042E4D);
    --cor01: (#004D18);
    --cor01: (#4A5700);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    height: 800px;
    width: 1280px;
    background: linear-gradient(rgba(54, 53, 53, 0.50), rgba(0, 0, 0, .50)100%), url(../css/assets/fundo04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seta{    
    width:70px ;
    float:right;
    margin-right: 30px;
    margin-top: 650px;
    position: sticky;
    top: 0;
    z-index: 1;    
}
.links {
    float: right;
    margin-right: -100px;
    padding: 30px;
}

.links>a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.nomeInicio {
    margin-left: 290px;
    padding-top: 180px;
    font-size: 45px;
    color: #990300;
    text-shadow: 3px 3px rgb(0, 0, 0);
}

.profissao {
    margin-left: 350px;
    font-size: 40px;
    text-shadow: 3px 3px rgb(0, 0, 0);
    color: #e6e3e3;
}

.iconesprincipal {
    display: flex;
    justify-content: center;
}

.icones {
   
    padding-top: 20px;
    margin-left: 60px;
    
}

main {
    height: 750px;
    width: 1280px;
    background-color: #0a0a0a;
    padding: 50px;
    text-align: center;
    display: flex;
}

.fotoPessoal {
    width: 372px;
    height: 558px;
    box-shadow: 15px 15px 20px 1px #990300;
}

.descricao {
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 60%;
    margin-left: 40px;
}

.descricao p,
.descricao h2 {
    margin-left: 30px;
    text-align: left;
    text-align: justify;
}

.descricao h2 {
    padding-top: 8px;
    padding-bottom: 15px;
    font-size: 30px;
    color: #e6e3e3;
    text-shadow: 2px 2px rgb(83, 83, 83);
}

.descricao p {
    color: darkgray;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 16px;
}

span {
    font-size: large;
    padding-right: 70px;
    color: rgb(241, 241, 241);
    text-shadow: 1px 1px rgb(93, 93, 93);
}

.curriculo {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 280px;
    background-color: #4D0100;
    color: #e6e3e3;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: bold;
}

/* segunda parte */

.mainHabilidades {
    background-color: rgb(41, 40, 40);
    display: flex;
}

.habilidades {
    display:inline-block;
    font-size: 20px;
    margin: auto;
    color: #e6e3e3;
    text-shadow: 2px 2px rgb(8, 8, 8);
}
.habilidades h2{
    float: left;
    margin-bottom: 20px;
    margin-top: -30px;
}
.habilidades p {
    width:1000px ;
    color: darkgray;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 16px;
    padding-top: 20px;

}

.quadrado {
    margin: auto;
    margin-top: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    width: 1006px;
    height: 500px;
    /* border-style: solid; */
}

.quadradoHabilidades {    
    padding: 20px;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 40px;
    border-radius: 8%;
    
    
}
.nu1{
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/HTML5.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
    background-size: 600px;
    
}
.nu2{
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/o-que-e-o-css3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;     
    background-size: 440px;
   
}
.nu3{
     background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/js.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 200px;
}
.nu4{
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/react_js.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 360px;
}
.nu5{
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/bootstrap-social.png.crdownload);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 380px;
}
.nu6{
    
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/nodejs.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 360px;
}
.nu7{
    
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/firebase.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 360px;

}
.nu8{
   
    background: linear-gradient(rgba(54, 53, 53, 0.30), rgba(0, 0, 0, .30)100%), url(assets/mongodb.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-size: 360px;

}



/* 
              MOVIMENTO DO JS

.tela {
    background-color: rgb(196, 199, 199);
    width           : 600px;
    height          : 600px;
    margin: 100px;
    position: relative;
    overflow: hidden;
}

.quadrado {
    background-color: rgb(34, 34, 33);
    width           : 60px;
    height          : 60px;
    position: absolute;
    top:50px;
    left:50px;
}

*/



/* terceira parte */

.mainexperiencias{
   display: inline-block;
   height: 1300px;
}

.experiencias{   
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
    color: #e6e3e3;
    text-shadow: 2px 2px rgb(8, 8, 8);
}

.trabalho1{
    
    width: 1000px;   
    margin: auto;
    margin-top: 80px;
    margin-bottom: -80px;
}
.certoum{
    position: absolute;
    padding-top: 140px;
    padding-left: 620px;
}
.dataum{
   position: absolute;
   margin-left: 700px;
   padding-top: 145px;
   font-size: 22px;
   color: #8b8b8b;
   text-shadow: 2px 2px rgb(8, 8, 8);
}

.um{
   height: 150px;
    width: 500px;
   margin-left: 90px;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(8, 8, 8);
}
.certodois{
    position: absolute;
    padding-top: 320px;
    padding-left: 620px;
}
.datadois{
    position: absolute;
    margin-left: 700px;
   padding-top: 325px;
    font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(8, 8, 8);
 }


.dois{
 
    width: 500px;
    height: 250px;
   margin-left: 90px;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
    color: #8b8b8b;
    text-shadow: 2px 2px rgb(8, 8, 8);
  
}
.erradotres{
    position: absolute;
    padding-top: 575px;
    padding-left: 620px;
}
.datatres{
    position: absolute;
    margin-left: 700px;
   padding-top: 580px;
    font-size: 22px;
    color: #8b8b8b;
    text-shadow: 2px 2px rgb(8, 8, 8);
 }
.tres{
    height: 250px;
    width: 500px;
   margin-left: 90px;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(8, 8, 8);
}
.erradoquatro{
    position: absolute;
    padding-top: 795px;
    padding-left: 620px;
}
.dataquatro{
    position: absolute;
    margin-left: 700px;
   padding-top: 800px;
    font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(8, 8, 8);
 }
.quatro{
    width: 500px;
    height: 200px;
   margin-left: 90px;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
    color: #8b8b8b;
    text-shadow: 2px 2px rgb(8, 8, 8);
}

.erradocinco{
    position: absolute;
    padding-top: 995px;
    padding-left: 620px;
}
.datacinco{
    position: absolute;
    margin-left: 700px;
   padding-top: 1000px;
    font-size: 22px;
    color: #8b8b8b;
    text-shadow: 2px 2px rgb(8, 8, 8);
 }
.cinco{
    height: 200px;
    width: 500px;
   margin-left: 90px;
   padding-top: 10px;
   text-align: center;
   font-size: 15px;
    color: #ffffff;
    text-shadow: 2px 2px rgb(8, 8, 8);
}